<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Userlist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>DiveLog</h1>
    <h2>This is the main page for the Divelog</h2>
    
    <table>
		<tr>
		    <th>Site content</th>
		</tr>  
    	<tr>
    		<td><a href="localhost:8080/userlist">User list</a></td>		
    	</tr>
    	<tr>
    		<td><a href="localhost:8080/browser/index.html#/">API Browser</a></td>		
    	</tr>
     </table>
     
     
    
   	
</body>
</html>