<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Divelog app</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>DiveLog</h1>
    <h2>This is the main page for the Divelog app</h2>
    
    <table>
		<tr>
		    <th>Site content</th>
		</tr>  
    	<tr>
    		<td><a href="/userlist">User list</a></td>		
    	</tr>
    	<tr>
    		<td><a href="/adminuserlist">Admin user list</a></td>		
    	</tr>
		<tr>
    		<td><a href="/divelist">Dive list</a></td>		
    	</tr>
    	<tr>
    		<td><a href="/userlist_api/1">User list API row {1}</a></td>		
    	</tr>
    	<tr>
    		<td><a href="/browser/index.html#/">API Browser</a></td>		
    	</tr>
     </table>
     
     
    
   	
</body>
</html>